*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    background-image: url("../White-Abstract-Computer-Wallpaper.jpg");
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
  }
  .SearchColumn td input{
    caret-color: blue;
    outline: none;
    border: 1px solid #bfbfbf;
    transition: 0.3s;
  }
  .SearchColumn td input:focus{
    border-color: blue;
  }
  nav{
    height: 70px;
    background: #5372F0;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav ul{
    text-align: center;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: white;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #23dbdb;
  }
  .SubmitButton{
    height: 35px;
    width: 20%;
    margin-top: 10px;
    display: flex;
    background: #5372F0;
    border-color: #5372F0;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
  }
  .SubmitButton:hover{
    background: #3d5ee3;
  }
